.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  width: 16px; /* Aumenta este valor para un thumb más grueso */
  background-color: #000;
  border-radius: 0;
  opacity: 1;
  transform: translate(-7px, 0); /* Centrado */
}
.simplebar-track.simplebar-vertical,
.simplebar-track.simplebar-horizontal {
  overflow: visible; /* Importante */
}

/* Reducir el ancho del track si lo deseas */
.simplebar-track.simplebar-vertical {
  width: 8px; /* Ajusta este valor para el track */
  background-color: #aaa;
}
