.titleContainer {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.categoryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 0 40px 0 40px;
  overflow-y: auto;
}

.categorySectionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
