.titleContainer {
  padding: 40px;
}
.title {
  font-size: 2.5rem;
}
.carouselContainer {
  position: relative;
  width: 90vw;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
}
.arrow:hover {
  background-color: #fff4;
}

.left {
  left: 10px;
}
.right {
  right: 10px;
}
.arrowIcon {
  height: 40px;
}

.scrollbarContainer {
  overflow-x: auto;
  width: 100%;
}
.productsTrack {
  display: flex;
  gap: 2rem;
  width: max-content;
  padding: 40px 0 60px;
}
.linea {
  position: relative;
  bottom: 12px;
  background-color: #666;
  height: 3px;
  width: 95%;
}
