.navBarContainer {
  background-color: var(--primary-color);
  width: 100%;
  height: 5rem;
}

.navBarContainer.hidden {
  top: -80px;
}

.navBarContainer.visible {
  top: 0;
}
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--primary-color);
  color: var(--letter-color);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.logoContainer {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoContainer img {
  width: 60px;
}
.iconItem {
  color: var(--icon-color);
  font-size: 1.4rem;
}
.iconContainer {
  display: flex;
  gap: 1.5rem;
  width: 15%;
}

.categoriasContainer {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: start;
  gap: 1.5rem;
}

.categoriasContainer li a {
  font-size: 1.4rem;
}
.navLinks {
  display: flex;
  gap: 75px;
}

.navLink {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  position: relative;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #f0f0f0;
}

.navLink:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}

.navLink:hover:after {
  width: 100%;
}
