.navBarContainer {
  background-color: #0a142f;
  color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
}
.logoContainer {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoContainer img {
  width: 60px;
}
.iconItem {
  color: #fff;
  font-size: 22px;
}
.iconContainer {
  display: flex;
  gap: 1.5rem;
}

.categoriasContainer {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: start;
  gap: 1.5rem;
}
.categoriasContainer p {
  font-size: 20px;
}
