.navBarContainer {
  background-color: var(--primary-color);
  color: var(--letter-color);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}
.logoContainer {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoContainer img {
  width: 60px;
}
.iconItem {
  color: var(--icon-color);
  font-size: 22px;
}
.iconContainer {
  display: flex;
  gap: 1.5rem;
  width: 15%;
}

.categoriasContainer {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: start;
  gap: 1.5rem;
}

.categoriasContainer p {
  font-size: 20px;
}
