@import "tailwindcss";

* {
  font-family: "Playfair Display", sans-serif;
}
:root {
  /*Colors*/
  --primary-color: #0a143f;
  --secundary-color: #f8f8f8;
  --tertiary-color: #a8c3bc;
  --letter-color: #fff;
  --letter-Secundary-color: #000;
  --letter-Tertiary-color: #444;
  --icon-color: #fff;

  /*Font Family*/
  --font-family-primary: "Playfair Display", sans-serif;
}
